<% unless current_user %>
  <%= link_to "Register", new_user_path, class: :white_link %>
  </br>
  <%= link_to "Log in", sessions_new_path, class: :white_link %>
<% else %>
  <p class="white_link">You are signed in!</p>
  <p class="white_link">Welcome, <%= current_user.name %>.</p>
  <%= link_to "Log out", sessions_destroy_path, method: :delete, class: :white_link %>
<% end %>
