<div class="nav_bar">
  <%= link_to (@you_are_home ? scroll_to_top_path : root_url), remote: @you_are_home do %>
    <%= image_tag "logo.png", class: :nav_logo %>
  <% end %>
  <% for section in ["Services", "About Us", "Projects", "Clients", "Contact Us"] %>
    <% section_id = section.downcase.gsub(" ", "_") + "_section" %>
    <%= link_to focus_to_section_path(section_id: section_id), remote: true do %>
      <div class="nav_section">
        <div class="nav_section_text">
          <%= section %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="nav_spacing"></div>
