<div class="image_carousel">
  <%= link_to "<", carousel_scroll_path(direction: :left), remote: true, class: :top_left_link %>
  <%= link_to ">", carousel_scroll_path(direction: :right), remote: true, class: :bottom_right_link %>
  <div id="carousel_images_anchor"></div>
  <%= render "posts/carousel_images", images: images %>
</div>
