<div class="image_carousel">
  <%= link_to "<", carousel_scroll_path(direction: :left), class: :top_left_link %>
  <%= link_to ">", carousel_scroll_path(direction: :right), class: :bottom_right_link %>
  <% for image in images %>
    <%= image_tag image.image, class: :carousel_image %>
  <% end %>
</div>
