// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_carousel {
  position: relative;
  padding: 15px 7.5px;
  background: white;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  width: 94.5%;
}

.carousel_image {
  width: 100px;
  float: left;
}
