// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_carousel {
  position: relative;
  background: white;
  max-width: 550px;
  margin: 0 auto;
  width: 94.5%;
}

.carousel_image {
  position: relative;
  width: 100px;
}

.carousel_link {
  z-index: 2;
}

.carousel_hider_left {
  position: absolute;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 50px;
  background: white;
}

.carousel_hider_right {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 50px;
  background: white;
}
