// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mockup_header {
  width: 100%;
}

.welcome_text {
  color: white;
}

.section_part {
  width: 100%;
  height: 400px;
  color: white;
  text-align: center;
}
